/* CSS especifico para la pagina about.html */

body {
    background-color: #3f3f3f;
    padding: 0;
    margin: 0;
}

.sobre-nosotros {
    background-color: rgba(239, 239, 239, 0.70);
    padding: 20px;
    margin: 0 auto;
    width: 600px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}