/* CSS especifico para el index.html */

body {
    background-image: url(./../img/background/CHN861AC_C608_AC.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.cuadro-bienvenida {
    background-color: rgba(239, 239, 239, 0.70);
    padding: 20px;
    margin: 0 auto;
    width: 700px;
    height: 700px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cuadro-bienvenida h2{
    margin: 20px;
    text-align: center;
}

.cuadro-bienvenida ul {
    margin: 10px;
    padding-left: 20px;
}

.cuadro-bienvenida a{
    color: purple;
    text-decoration: none;
}

.escape-room-inicio {
    width: 90%;
    margin: 0 auto;
}

.escape-room-inicio p{
    text-align: center;
}

.escape-room-inicio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    border-radius: 10px;
}

.escape-room-inicio button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: transparent;
    background-color: #F77700;
    border-radius: 5px;
    cursor: pointer;
}